
@{
    ViewBag.Title = "Engineering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ENGINEERING </h2>
<img src="~/img/enginewering.jpg" />
<h2>Introduction</h2>
<h3>Computer Engineering</h3>
<p>
    Computer Engineering has enabled a technological revolution in fields like medical, missiles, satellite, communication, transportation, etc.; Due to the rapid technological growth and internet and its impact on our lives, Computer Engineering has become one of the fastest growing segments of today's world economy.

    The department has well qualified, experienced and dedicated faculty providing excellent teaching & learning environment. Faculties with industrial background bridge the gap between academic learning and industrial needs. Faculties are readily accessible and appreciate mentoring students. The department is well equipped with advanced tools and cutting edge technologies. The department regularly conducts various seminars and training programs on advanced technologies for the up-gradation of student’s knowledge and makes them compatible with evolving demands and changing trends of the software industry. Our department proudly upholds excellent placement records and emerging career opportunities for our students.
</p>
<h2>  Infrastructure Highlights</h2>
<ul>
    <li> 750+ Higher End Configuration Computers of HP, Lenovo & Acer Brand</li>
    <li> 10+ Intel Xeon & ProLiant Servers of HP</li>
    <li>24 Mbps Dedicated Internet Leased Line from BlazeNet</li>
    <li>50+ Laser Printers, 50+ Network Switches, 15+ UPSs</li>
    <li>Campus Wide Fiber Optic Cable Network</li>
    <li>Wi-Fi enabled Campus</li>
    <li>Apple Mac Mini & Mac Book for iPhone Programming</li>
    <li>  Microsoft Campus License for all Microsoft Software, Cybroam Subscription</li>
    <li>Research & Innovation Center for PG</li>
</ul>
<h2>
    Programs offered
</h2>
<ul>
    <li>BE in Computer Engineering</li>
    <li>Under Graduate</li>
    <li>Duration: 4 Years | Intake: 180 | Tuition Fees:  73,000/year</li>
</ul>
<ul>
    <li>ME in Computer Engineering</li>
    <li>Post Graduate</li>
    <li>Duration: 2 Years | Intake: 18 | Tuition Fees:  95,000/year</li>
</ul>
<h3>Civil Engineering</h3>
<p>
    Department of Civil Engineering believes that Real engineering means: Institute Knowledge with Industrial Experience. Our ancient Sanskrit, ""???? ??????? ?????"" also supports the same. To make students an excellent in the field of civil engineering. The department has designed different activities which provide a multitude of a platform for students to enhance their technical and industrial skills. Some of the activities are listed below:

    ??????? - The material manifestation
    Under this program, students acquire the special skill of material identification by visualizing which is an important and required skill in the field.
</p>
<h2>
    Programs offered
</h2>
<ul>
    <li>BE in Civil Engineering</li>
    <li>Under Graduate</li>
    <li>Duration: 4 Years | Intake: 180 | Tuition Fees:  73,000/year</li>
</ul>
<ul>
    <li>ME in Civil Engineering</li>
    <li>Post Graduate</li>
    <li>Duration: 2 Years | Intake: 24 | Tuition Fees:  95,000/year</li>
</ul>
<h3>Electrical Engineering</h3>
<p>
    Electrical Engineering Department (EED), at Institute is involved in providing quality education at both Postgraduate and Undergraduate levels. Department aims to produce engineers who are critical, original, and independent thinkers along with the strong foundation in contemporary electrical engineering, basic sciences, mathematics, computing, and communication. Department also believes in values, attitudes, diversity of opinion,ethics and vision that will prepare student for lifetimes of success,continued learning and leadership in their chosen careers.
</p>
<h2>
    Programs offered
</h2>
<ul>
    <li>B.E. in Electrical Engineering</li>
    <li> Under Graduate</li>
    <li>Duration: 4 Years | Intake: 60 | Tuition Fees:  73,000/Year</li>
</ul>
<ul>
    <li>M.E. in Electrical Engineering</li>
    <li>Post Graduate</li>
    <li>Duration: 2 Years | Intake: 24 | Tuition Fees:  95,000/Year</li>
</ul>
<ul>
    <li>BE in Electronics & Communication</li>
    <li>Under Graduate</li>
    <li>Duration: 4 Years | Intake: 30 | Tuition Fees:  73,000/year</li>
</ul>
<ul>
    <li>ME in Electronics & Communication</li>
    <li>Post Graduate</li>
    <li>Duration: 2 Years | Intake: 18 | Tuition Fees:  95,000/year</li>
</ul>
<h3>Mechanical Engineering</h3>
<p>
    Mechanical Engineering education is a very strategic and specialized segment where the engineers are being trained to meet the innovative demands of futuristic technologies. In the recent past, Department of Mechanical Engineering at DIET has established itself as one of the premier brands in technical education in region and has enhanced its reputation by introducing B.E. and M.E. programs.

    Department of Mechanical Engineering at DIET has flourished to a great extent due to their experienced faculties from diversified fields, optimal faculty to student ratio and enthusiastic students. Department of Mechanical Engineering focuses on comprehensive course curriculum with intense practical exposure to students which will enable them to take up challenging roles in professional careers.

    Our initiatives are aimed to transform education and build careers of our students with whole hearted acceptance from industries across the nation. We give equal emphasis on fundamental studies, practical exposure and industrial orientation.

    Department is also encouraging their faculties for quality improvement programs to learn latest change and trends in their respective fields.
</p>
<h2> Programs offered</h2>
<ul>
    <li> BE in Mechanical Engineering</li>
    <li> Under Graduate</li>
    <li> Duration: 4 Years | Intake: 120 | Tuition Fees:  73,000/year</li>
</ul>
<ul>
    <li>ME in Mechanical Engineering</li>
    <li>Post Graduate</li>
    <li>Duration: 2 Years | Intake: 18 | Tuition Fees: 95,000/year</li>
</ul>
@{
    <div class="col-lg-11 text-center">
        <input type="button" name="button1" value="Apply Now" class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Applicant")'" />
    </div>
}

