
@{
    ViewBag.Title = "HealthScience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HEALTH SCIENCE COURSE</h2>

<img src="~/img/hero-health-science-degree.jpg" />
<h2>Introduction</h2>
<p>
    The best, most affordable way to save most lives and improve overall health is to increase the number of trained, primary and supportive healthcare workers.By leveraging small investments and the leadership of local change agents, Allied Health Sciences programs can offer the most cost-effective and sustainable strategies to recruit, train and support primary and supportive Healthcare workers in the country.The ITM Group of Institutions – an autonomous, not for profit educational organization is dedicating itself to improve Healthcare Services to the community by innovation in education and services through effective, relevant and practical training of nursing and allied / paramedical health personnel. The ITM Institute of Health Sciences will coordinate with National Healthcare players and International Healthcare educational institutions, to prepare, launch and support technical training in various supportive healthcare services
</p>
<h3>Bachelors in Optometry</h3>
<ul>
    <li>3 years degree course + 1 year Clinical Internship</li>
    <li>UGC Recognized degree</li>
    <li>Eligibility – The candidate should have passed XII Science or an equivalent examination with Physics, Chemistry,Maths and or Biology with an aggregate of minimum 40 % marks. For reservation category (SC/ST/OBC/minority) the aggregate of minimum 35% marks in Physics, Chemistry Maths and or Biology is required.</li>
</ul>
<h3>Bsc in Medical Laboratory Technology</h3>
<ul>
    <li>3 years (including 6 months internship) Degree course</li>
    <li>UGC recognised Degree</li>
    <li>Aggregate should be minimum 40%</li>
    <li>Eligibility – The candidate should have passed XII Science or an equivalent examination with Physics, Chemistry & Biology with an aggregate of minimum 40 % marks. For reservation category (SC/ST/OBC/minority) the aggregate of minimum 35% marks in Physics, Chemistry & Biology is required.</li>
</ul>
<h3>
    Masters in Optometry
</h3>
<ul>
    <li>2 years</li>
    <li>UGC Recognized Degree</li>
    <li>Eligibility: The candidate should have passed Bachelors in Optometry (B. Optometry)</li>
</ul>
@{
    <div class="col-lg-11 text-center">
        <input type="button" name="button1" value="Apply Now" class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Applicant")'" />
    </div>
}

