
<div class="row">
    <div class="col-lg-12">
        <ul class="list-inline">
            <li>
                @Html.ActionLink("Home", "HomePage", "Home")
            </li>
            @*<li class="footer-menu-divider">&sdot;</li>*@
            @*<li>
                    @Html.ActionLink("About", "About", "Home")
                </li>*@
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                @Html.ActionLink("Contact", "Contact", "Home")
            </li>

        </ul>
        <p class="copyright text-muted small">Copyright &copy; Capgemini(UAS) 2019. All Rights Reserved</p>
    </div>
</div>
