
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br /><br />
<h2 style="text-align:center;color:crimson">ADMIN</h2>
<br /><br />
@using (Html.BeginForm())
{
    <div class="bg-info" style="height:500px;">
        <table>

            <tr>
                <td>
                    <a href="/Admin/DisplayProgram"><img src="~/img/Programs.jfif" class="img-rounded" style="margin-left:70px"  /></a>
                </td>
                <td>
                    <a href="/Admin/DisplaySchedule"> <img src="~/img/programSchedule.jfif" class="img-rounded float-right" style="height:200px;width:200px;margin-bottom:250px;margin-left:350px;margin-top:20px" height="70" width="70"/> </a>
                </td>
                <td>
                    <a href="/Admin/Reports"><img src="~/img/reports.jfif" class="img-rounded" style="height:200px;width:200px;margin-left:350px" height="70" width="70"/> </a>
                </td>
            </tr>
        </table>
    </div>
}






